.news_content {
  margin-top: 240px;
  .news_list {
    /*width: 76.5625vw;*/
    width: 100%;
    /*padding: 0 14.4416vw;*/
    margin: 0 auto;
    > div {
      position: relative;
      overflow: hidden;
      display: inline-block;
      /*width: 19.7917vw;*/
      a {

        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: auto;
        }
        p.news-tit {
          font-size: 1.5625vw;
          margin-top: 1.5625vw;
        }
        span.new-desc {
          display: block;
          font-size: 1.0417vw;
          padding-top: 1.0417vw;
        }
      }
    }
  }
  .main-contact {
    margin-top: 7.2917vw;
  }
  .btnMore {
    /*margin-top: 3.1250vw;*/
    text-align: center;
  }
}

/* test */
